@use "shared/styles/mixins/mediaQueries" as *;

.budgetWrapper {
    display: grid;
    grid-template-columns: minmax(260px, 400px) 1fr;
    gap: 10px;
    
    @include media-breakpoint-down(tablet) {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .tablesWrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        align-items: start;
        gap: 10px;
    }

    .budgetTable {
        width: 100%;
    }

    .addTableButton {
        width: 100%;
    }
}

.addTableModal {
    max-width: 400px;
    width: 100%;
    height: fit-content !important;

    .addTableInput {
        width: 100%;
    }
}