@import '../../../shared/styles/mixins/scrollbar.scss';

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    height: fit-content;
}

.title {
    color: var(--accent-txt);
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-self: flex-end;

    button {
        flex-grow: 1;
    }
} 