@use "shared/styles/mixins/mediaQueries" as *;

.hiddenInput {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family-content);
    min-width: 60px;
    width: 100%;

    .heading {
        font-family: var(--font-family-headers);
        font-weight: 400;
        color: var(--accent-txt) !important;

        &.l {
            font-size: 20px;
            line-height: 24px;
        }
    
        &.m {
            font-size: 18px;
            line-height: 22px;
        }
    
        &.s {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .input {
        color: var(--accent-txt);
        height: 30px;
        background-color: var(--skeleton) !important;
        display: flex;
        border-radius: 10px;
        width: 100%;
        padding: 0 10px;

        &.hidden {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &::placeholder, &:disabled {
            color: var(--pale-txt);
        }

        &:focus {
            color: var(--accent-txt);
            background-color: var(--skeleton);
        }

        @include media-breakpoint-down(mobile) {
            font-size: 14px;
            line-height: 18px;
        }
    }
    
    .buttons {
        display: flex;
        gap: 4px;
        flex-direction: row;
    }

    .toggleButton {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
}