.imageWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    min-height: 50px;
}

.img {
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    
    &.hidden {
        display: none;
    }
}

.errorStub {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--skeleton);
    border-radius: 10px;
}