@import 'shared/styles/mixins/mediaQueries';

.profileDialog {
  max-height: 405px;
  max-width: 300px;

  @include media-breakpoint-down(mobile) {
    max-height: 395px;
  }
}

.form {
    width: 100%;
    height: 100%;
}

.input {
    width: 100%;
}

.input_tag {
    position: relative;
    padding-left: 40px;
}

.currentTrip {
    width: 100%;
    height: 500px;
    background: var(--accent-el);
}


