.app.dark {
    --accent-el: linear-gradient(90deg, #C33764, #1D2671);
    --standart-el: #2B2739;
    --main-bg: #1B1B25;
    --sec-bg: #16161F;
    --accent-txt: #FFF;
    --invert-accent-txt: #000;
    --pale-txt: #95939C;
    --skeleton: #383444;
    --scrollbar: #95939C30;
    --active-marker: #9E82D7;
    --empty-track: #D9D9D9;
    --sector-el: #212530;
}