.app.light {
    --accent-el: linear-gradient(90deg, #B0DAB9, #DAD299);
    --standart-el: #E5E5E5;
    --main-bg: #F2F2F2;
    --sec-bg: #B6C79B;
    --accent-txt: #123241;
    --invert-accent-txt: #EDCDBE;
    --pale-txt: #95939C;
    --skeleton: #DADADA;
    --scrollbar: #95939C50;
    --active-marker: #9E82D7;
    --empty-track: #D9D9D9;
    --sector-el: #D5D5D5;
}