@use "shared/styles/mixins/mediaQueries" as *;

.firstRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;

    

    .currentTripWidget {
        max-width: 420px;

        @include media-breakpoint-down(tablet) {
            max-width: 100%;
        }
    }
}
