.TaskCard {
    background: var(--skeleton);
    border-radius: 10px;
    padding: 10px;
    user-select: none;
    position: relative;
    z-index: 1;

    &.dragging {
        cursor: grabbing;
        z-index: 1000;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .moveButton {
            height: 20px;
            width: 20px;
            cursor: grab;
        }

        .title {
            position: relative;
            cursor: pointer;
            transition: color 0.2s ease;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: var(--accent-txt);
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.3s ease;
            }

            &:hover {
                &::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }
}

.editTaskModal {
    height: fit-content !important;
    
    .taskNameInput {
        width: 100%;
    }

    .modalDescriptionInput {
        min-height: 300px;
    }
}

