.mediaLibrary {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &Page {
        width: 100%;
        height: 100%;
    }

    .foldersWrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        place-items: center;
        gap: 20px;
    }
} 